<div class="row">
{{#each result}}
	{{#if properties.title}}
	   <div class="col-xs-offset-1 col-sm-4">
			<div class="thumbnail thumbnail-search">
				<img class="crop-height"  src="{{properties.image_url}}">
					<div class="caption" id="caption-height">
						<p class = "title">
							<a href="{{properties.url}}"> {{properties.title}} </a>
						</p>
						<p id="rental-location">Location: {{properties.address}} </p>
						<p><strong>${{properties.price}}.00</strong></p>
					</div>
				</div>
			</div>
	{{/if}}
{{/each}}
</div>