@import url(http://fonts.googleapis.com/css?family=Lobster:400normal);
@import url(http://fonts.googleapis.com/css?family=Arimo:400normal);


/* backyard owner information */
#renter-name {
  height: 300px;
  background-color: rgb(101, 193, 143);
  margin-bottom: 30px;
  font-family: 'Arimo', sans-serif;
}

#user-pic {
  height: 100px;
  width: 100px;
  border-radius: .5em;
  margin-top: 120px;
}

#reviews-show {
  margin-top: 100px;
}

/* backyard information */

#rental-pic {
  max-width: 500px;
}

#rental-show {
  margin-top: 30px;
  height: 300px;
  width: 500px;
}