// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map { position:absolute; width:50%; }
  #map {
  position: fixed;
  top: 50px;
  float: left;
	width: 550px;
	height: 800px;

}



#search-bar {
	max-width: 700px;
}

#listings {
	max-width: 600px;
	float:right;

}

#listings.img {
  max-height: 320px;
  overflow: hidden;
}

#home-thumb {
	min-width: 300px;
	max-width: 300px;
	min-height: 450px;
}

p {
	font-size: 1.5em;
}
