// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map { position:absolute; width:50%; }
  #map-two {
  position: fixed;
  top: 490px;
	left: 20px;
  float: right;
	width: 600px;
	height: 600px;
}

/*.fixed {
	position: fixed;
	top: 550px;
	left: 20px;
	width: 33%;

}*/
/*
.siteheader {
	position: fixed;
}

#listings {
	  top: 550px;
}


*/