// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*#listings.img {
  max-height: 0px;
  max-width: 320px;
  overflow: hidden;
}

#home-thumb {
	min-width: 200px;
	max-width: 200px;
	min-height: 700px;
}
*/

/*#caption-height {
  min-height: 250px;
}*/
/*
.grid{
	max-height: 100px;
  overflow: hidden;
}
*/

.wassup {
	position:relative;
	width:420px;
	height:400px;
	overflow:hidden;
	/*top: 20px;*/
}

.large {
	position:relative;
	width:840px;
	height:400px;
	overflow:hidden;
	/*top: 20px;*/

}


h2{
	 position: absolute;
   top: 40%;
   left: 35%;
   width: 100%;
   color: white;
   font-size: 50px;
}

.image {
	opacity:1;
}
.image:hover {
	opacity:.8;

}


