// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map { position:absolute; width:50%; }
  #map-two {
/*  position-top: -4em;*/
	width: 50%;
	height: 50%;
}