{{#each result}}
	<h1><a href="{{properties.url}}"> {{properties.title}} </a></h1>
	<h3> {{properties.address}} </h3>
	<p> {{properties.description}} </p>
	<h3> {{properties.price}} </h3>
	<img src="{{properties.image_url}}">

{{/each}}