{{#each result}}
	<h3><a href="{{properties.url}}"> {{properties.title}} </a></h3>
	<p> {{properties.address}} </p>
	<p> {{properties.price}} </p>
	<img class="crop-height" src="{{properties.image_url}}">

{{/each}}