<div class="siteheader">
  <div class="container">
      <h1 id="sitetitle">backyard application</h1>
      <%= form_for @search, method: :get, url: '/search', html: {id: 'search-bar'} do |f| %>
        <div class="form-group">

          <%= f.text_field :search, autofocus: true, class: "form-control searchval" %>
        </div>
      <% end %>
      <p id="sitedescrip">take advantage of other people's backyards</p>
  </div>

<h1><%= @loc%></h1>

<!--    <div id="selectbar">
    <p id="selectbartext">Start by choosing a neighborhood:</p>
    <div id="select-bar-btn" class="btn-group btn-group-sm">
      <div class="btn-group">
        <button type="button" class="btn btn-default">Haight</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default">SoMa</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default">Nob Hill</button>
      </div>
   </div> -->
  </div>