
 <div class="col-xs-12 col-sm-8 col-offset-4">


      <nav>
        <div class="btn btn-default">
          <a href="/">Root</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/new">Sign-up</a>
        </div>
        <div class="btn btn-default">
           <a href="/login">Login</a>
        </div>
        <div class="btn btn-default">
          <a href="/rentals">Rentals Index</a>
        </div>
          <%= button_to "Rentals Index", browse_path, method: :get, class: "btn btn-default" %>
          <%= button_to "Rentals New", new_user_rental_path(user.id), method: :get, class: "btn btn-default" %>
      </nav>
  </div>