
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">BA</a>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rentals">View Listings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <% if @current_user %>
           <p class="navbar-text"><a href="/users/<%= @current_user.id  %>"><%= @current_user.first_name %></a></p>
          <li><a href="/users/<%= @current_user.id %>/rentals/new">Add Listing</a></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign-up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

