
 <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <nav>
        <div class="btn btn-default">
          <a href="<%= root_path %>">Root</a>
        </div>
        <div class="btn btn-default">
          <a href="<%= new_user_path %>">Sign-up</a>
        </div>
        <div class="btn btn-default">
           <a href="<%= login_path %>">Login</a>
        </div>
      </nav>
  </div>