<%= render partial: "nav", locals: { user: @user } %>
<%= render partial: "header" %>


<div class = "col-xs-6 col-md-4">
<a href="/search?search=sanfrancisco" class="home-square" name="search" value="san francisco">
<div class="wassup">
<img  class="grid" src="http://www.cali-fun.com/en/wp-content/uploads/2011/04/maisons-victoriennes-san-francisco.jpg">
</div>
</a>
</div>

