<%= render partial: "nav", locals: { user: @user } %>
<%= render partial: "header" %>


<div class = "col-xs-6 col-md-4">
	<a href="/search" value="san francisco">
		<div class="wassup">
			<img  class="image" src="http://static.pictorymag.com/pictories/4126408330_21057d45aa_b_jpg_998x681_q85.jpg">
			<h2>Twin Peaks</h2>
		</div>

	</a>
</div>

<div class = "col-xs-6 col-md-4">
	<a href="/search" value="san francisco">
		<div class="wassup" >
			<img class="image" src="http://www.dbarchitect.com/images/dynamic/slideshow_images/image/34_rienvanrijthoven_roof3.project_large.jpg">
			<h2>Hot Tub City</h2>
		</div>
	</a>
</div>

<div class = "col-xs-6 col-md-4">
	<a href="/search" value="san francisco">
		<div class="wassup">
			<img class="image" src="http://shadowness.com/file/item5/121531/image_t6.jpg">
			<h2>SOMA</h2>
		</div>
	</a>
</div>

<div class = "col-xs-6 col-md-4">
	<a href="/search/new" value="san francisco">
		<div class="wassup">
			<img class="image" src="http://www.dailyventure.com/media/photos/travel/Butchart-Gardens-Japanese-Garden-Forest-640x420.jpg">
		</div>
	</a>
</div>

<div class = "col-xs-6 col-md-8">
	<a href="/search/new" value="san francisco">
		<div class="large">
			<img class="image" src="http://2.bp.blogspot.com/-UsuJ4O4CWCg/T6bwhDn2mxI/AAAAAAAAP2I/PAmQWDc_vQs/s1600/sunday+on+dolores+park+2.jpg">
		</div>
		<h2>DOLODOLO</h2>
	</a>
</div>

<div class = "col-xs-6 col-md-4">
	<a href="/search/new" value="san francisco">
		<div class="wassup">
			<img class="image" src="http://www.doloresparkworks.org/wp-content/uploads/2014/01/DP-march-42012.jpg">
		</div>
		<h2>ALL SF</h2>
	</a>
</div>




<div class = "col-xs-6 col-md-4">
	<a href="/search/new" value="san francisco">
		<div class="wassup">
		   <img class="image" src="http://media-cdn.tripadvisor.com/media/photo-s/01/d1/73/f7/san-francisco-golden.jpg">
		</div>
	</a>
</div>

<div class = "col-xs-6 col-md-3">
	<a href="/search/new" value="san francisco">
		<div class= "wassup">
		    <img class="image" src="http://sanfranciscophotoblog.com/san-francisco-photos/images/haight-ashbury-central-haight-market.jpg">
		</div>
	</a>
</div>



<!-- http://www.cali-fun.com/en/wp-content/uploads/2011/04/maisons-victoriennes-san-francisco.jpg -->
