<%= render partial: "nav", locals: { user: @user } %>
<%= render partial: "header" %>


	<div class="row">
		<div class="fixed">
			<div id="map-container" class="col-xs-12 col-sm-6 ">
				<div id='map-two' class='map'>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div id="listings"></div>
		</div>
	</div>



<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZGF2aWRqYXZhdGUiLCJhIjoiNHpuQVN6ZyJ9.pP7v8vVU8qXdQID-CZI99w';
var map = L.mapbox.map('map-two', 'davidjavate.jd8jfekm', {
  scrollWheelZoom: false
}).setView([37.7833,-122.4167], 10);



var stamenLayer = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png').addTo(map);
</script>