<%= render partial: "nav", locals: { user: @user } %>
<%= render partial: "header" %>

<div class="row top-buffer">

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=haight+st" class="home-square" name="search" value="san francisco">
			<div class="wassup">
				<img  class="image" src="http://garmentdistrict.com/blog/wp-content/uploads/2013/09/2013.9.9-flannels.jpg">
				<h2>Haight</h2>
			</div>
		</a>
	</div>

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=NOPA+SF" value="san francisco">
			<div class="wassup">
				<img class="image" src="http://www.dailyventure.com/media/photos/travel/Butchart-Gardens-Japanese-Garden-Forest-640x420.jpg">
				<h2>NOPA</h2>
			</div>
		</a>
	</div>

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=SOMA+SF" value="san francisco">
			<div class="wassup">
				<img class="image" src="http://shadowness.com/file/item5/121531/image_t6.jpg">
				<h2>SOMA</h2>
			</div>
		</a>
	</div>

</div>


<div class="row top-buffer">

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=hot+tub+city" value="san francisco">
			<div class="wassup" >
				<img class="image" src="http://www.dbarchitect.com/images/dynamic/slideshow_images/image/34_rienvanrijthoven_roof3.project_large.jpg">
				<h2 id="hot-tub-city">Hot Tub City</h2>
			</div>
		</a>
	</div>

	<div class = "col-xs-6 col-md-8">
		<a href="/search?search=Dolores+Park" value="san francisco">
			<div class="large">
				<img class="image" src="http://2.bp.blogspot.com/-UsuJ4O4CWCg/T6bwhDn2mxI/AAAAAAAAP2I/PAmQWDc_vQs/s1600/sunday+on+dolores+park+2.jpg">
			</div>
			<h2>DOLO//DOLO</h2>
		</a>
	</div>

</div>

<div class="row top-buffer">

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=dolores+park+church" value="san francisco">
			<div class="wassup">
				<img class="image" src="http://www.doloresparkworks.org/wp-content/uploads/2014/01/DP-march-42012.jpg">
			</div>
			<h2>Mission</h2>
		</a>
	</div>

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=marina+sf" value="san francisco">
			<div class="wassup">
			   <img class="image" src="http://media-cdn.tripadvisor.com/media/photo-s/01/d1/73/f7/san-francisco-golden.jpg">
			   <h2>Marina</h2>
			</div>
		</a>
	</div>

	<div class = "col-xs-6 col-md-4">
		<a href="/search?search=tenderloin+sf" value="san francisco">
			<div class= "wassup">
			    <img class="image" src="http://imgs.sfgate.com/blogs/images/sfgate/bronstein/2010/04/12/TL.jpg">
			    <h2>Tender</h2>
			</div>
		</a>
	</div>

</div>

<!-- http://www.cali-fun.com/en/wp-content/uploads/2011/04/maisons-victoriennes-san-francisco.jpg -->
