
<div class="row">
  <div class="col-xs-8 col-sm-4">
      <!-- individual user page -->
     <h1><%= @user.first_name %> <%= @user.last_name %></h1>
     <img src="<%= @user.image_url %>">
     <p><%= @user.location %></p>

  </div>
</div>
