<%= render partial: "nav", locals: { user: @user } %>
<div class = "container">
<div class = "row">
<h2>Purpose:</h2>
<h4>This site was made as part of a group project for General Assembly's Web Development Immersive during the week of 8/29/14-9/4/14.  Taking inspiration from Airbnb, the purpose of the site is to recreate a booking site where people can rent out their backyards and pools.</h4>
</div>

<div class = "row">
<h2>Project group members:</h2>
<h4><a href="https://github.com/msalli">Alli Cernoch</a><br>
<a href="https://github.com/kahny">Connie Chang</a><br>
<a href="https://github.com/davidjavate">David Javate</a><br>
<a href="https://github.com/DoriPS13">Palmer Sanderson</a></h4>
</div>

<div class = "row">
<h2>Web technologies used:</h2>
<h4>Ruby<br>
Rails<br>
Mapbox API<br>
Javascript<br>
jQuery/AJAX<br>
Bootstrap<br>
Handlebars<br>
Rspec<br>
Postgres<br>
Web scraping with Nokogiri<br>
Data seeding with Ffaker</h4><br>
</div>

<div class = "row">
<h2>Project links:</h2>
<h4><a href="https://github.com/kahny/groupproject/tree/master/backyard_app">Github</a><br>
<a href="">Heroku</a></h4>
</div>
</div>


