<%= render partial: "nav", locals: { user: @user } %>

  <div class = "container">
    <div class = "row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-1">
        <h3>About this site:</h3>
        <h4>This site was made as part of a group project for General Assembly's Web Development Immersive during the week of 8/29/14-9/4/14.  Taking inspiration from Airbnb, the purpose of the site is to recreate a booking site where people can rent out their backyards and pools.</h4>
      </div>

    </div>

    <div class = "row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <h5>Project group members:</h5>
        <p><a href="https://github.com/msalli" target="_blank">Alli Cernoch</a></p>
        <p><a href="https://github.com/kahny" target="_blank">Connie Chang</a></p>
        <p><a href="https://github.com/davidjavate" target="_blank">David Javate</a></p>
        <p><a href="https://github.com/DoriPS13" target="_blank">Palmer Sanderson</a></p>
        <br>
        <a href="https://github.com/kahny/groupproject/tree/master/backyard_app" target="_blank">See the code on GitHub</a>
      </div>

      <div class="col-sm-4">
        <h5>Web technologies used:</h5>
          <p>Ruby</p>
          <p>Rails</p>
          <p>Mapbox API</p>
          <p>Javascript</p>
          <p>jQuery/AJAX</p>
          <p>Bootstrap</p>
          <p>Handlebars</p>
          <p>Rspec</p>
          <p>Postgres</p>
          <p>Web scraping with Nokogiri</p>
          <p>Data seeding with Ffaker</p>
      </div>
    </div>
  </div>


