@import url(http://fonts.googleapis.com/css?family=Lobster:400normal);
@import url(http://fonts.googleapis.com/css?family=Arimo:400normal);


/* site header*/

body {
  background-color: rgb(232, 235, 232);
}

.siteheader {
  height: 400px;
  background-color: rgb(101, 193, 143);
  text-align: center;

}

#sitetitle {
  font-family:'Lobster', cursive;
  margin-top: 100px;
  font-size: 5em;
  color:black;
}

#sitedescrip {
  margin-top: 25px;
  margin-bottom: 68px;
  font-size: 1.5em;
  font-family: 'Arimo', sans-serif;
  color:black;
}

/* header bar to choose a filter */
#selectbar {
  height: 100px;
  background-color: rgba(0, 0, 0, .5)
}

#selectbartext {
  font-family: 'Arimo', sans-serif;
  color: black;
  margin-bottom: 20px;
}

/* rentals */

/*.rental-pic {
  max-width: 100%;
  height: 300px;
}
*/

.crop-height1 {
  max-height: 320px;
  overflow: hidden;
}

.caption {
  min-height: 110px;
}

.price-on-rental {
    top:20px;
    left:30px;
    position: absolute;
    background-color: rgba(139, 137, 137, .8);
    color:white;
    font-size: 2.8em;
}

img.user-pic-on-rental-pic{
    width:100px;
    height:100px;
    position: absolute;
    top: 53%;
    left: 65%;
    border-radius:50%;
    border: 2px solid white;
}

#results-container {

  margin-top: 70px;
}




