
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
     <h1>HOME PAGE</h1>
  </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
      <nav>
        <div class="btn btn-default">
          <a href="/">Root</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/new">Sign-up</a>
        </div>
        <div class="btn btn-default">
           <a href="/login">Login</a>
        </div>
        <div class="btn btn-default">
          <a href="/rentals">Rentals Index</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/1/rentals/new">Rentals New</a>
        </div>
      </nav>
  </div>
</div>