
<div class="row">

  <div class="col-xs-8 col-sm-4"></div>
  <div class="col-xs-8 col-sm-4">
     <h1>HOME PAGE</h1>




      <nav>
        <div class="btn btn-default">
          <a href="/">Root</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/new">Sign-up</a>
        </div>
        <div class="btn btn-default">
           <a href="/login">Login</a>
        </div>
        <div class="btn btn-default">
          <a href="/rentals">Rentals Index</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/16/rentals/new">Rentals New</a>
          <!-- hard coded user -->
        </div>
      </nav>

    <div class="col-xs-8 col-sm-4">

      <%= for @rentals do |rental| %>


    </div>
  </div>
</div>